<template>
	<div class="flex space-x-4 items-center">
		<div class="w-[160px] h-[90px] relative border border-1">
			<div class="absolute inset-0 flex items-center justify-center overflow-hidden">
				<!-- Video -->
				<video autoplay
							 playsinline
							 :srcObject.prop="videoStream" />
			</div>
		</div>
		<div class="w-[160px] h-[90px] relative border border-1">
			<div class="absolute inset-0 flex items-center justify-center overflow-hidden">
				<!-- Screen share -->
				<video autoplay
							 playsinline
							 :srcObject.prop="screenShareStream" />
			</div>
		</div>
		<div class="flex flex-col justify-center space-y-1 text-xs">
			<div class="flex items-center space-x-2">
				<div class="font-bold">YOU</div>
				<div class="text-gray-400">({{ user }})</div>
			</div>

			<div class="flex items-center space-x-2">
				<div :class="disableControls && 'opacity-25 pointer-events-none'"
						 class="flex items-center cursor-pointer px-2 py-0.5 border border-black rounded-sm shadow-md select-none text-xs"
             @click="toggleMute">{{ isMuted ? 'unmute' : 'mute' }}</div>
     	  <div :class="disableControls && 'opacity-25 pointer-events-none'"
						 class="flex items-center cursor-pointer px-2 py-0.5 border border-black rounded-sm shadow-md select-none text-xs"
             @click="toggleVideo">{{ videoAvailable ? 'stop video' : 'start video' }}</div>
				<div :class="disableControls && 'opacity-25 pointer-events-none'"
						 class="flex items-center cursor-pointer px-2 py-0.5 border border-black rounded-sm shadow-md select-none text-xs"
						 @click="toggleScreenShare(false)">{{ screenShareAvailable ? 'stop screen share' : 'start screen share' }}</div>
			</div>

			<div class="flex items-center space-x-2">
				<div class="flex items-center cursor-pointer px-2 py-0.5 border border-black rounded-sm shadow-md select-none text-xs"
						 @click="sendStartScreenShare">request all clients to start screen share</div>
			</div>
			
			<div class="flex items-center space-x-2">
				<input type="checkbox" v-model="useVideoForScreenShare" />
				<div>check to use video for screen share</div>
			</div>
		</div>
		<div class="grid grid-cols-3 gap-2">
			<div v-for="device in audioInputDevices"
					 :key="device.deviceId"
					 class="flex items-center space-x-2 cursor-pointer px-2 py-0.5 border border-black rounded-sm shadow-md select-none text-[0.25em]"
           @click="audioInputDeviceClicked(device)">
				<div :class="device.deviceId !== selectedAudioInputDeviceId && 'opacity-0'">✅</div>
				<div>{{ device.label }}</div>
			</div>
		</div>
	</div>
</template>

<script setup>
import { computed, inject, ref, toValue, watch } from 'vue';
import { ROOM } from '../conference-api/ms-teams-room.js';

const room = inject(ROOM);

const disableControls = ref(false);
const useVideoForScreenShare = ref(false);

const audioInputDevices = computed(() => room.data.audioInputDevices);
const selectedAudioInputDeviceId = computed(() => room.data.selectedAudioInputDeviceId);

watch(
	useVideoForScreenShare,
	useVideoForScreenShare => console.debug(`🛑 - useVideoForScreenShare-[${useVideoForScreenShare}]`)
)

const props = defineProps({
	isMuted: Boolean,
	name: String,
	user: String,
	videoAvailable: Boolean,
	screenShareAvailable: Boolean
});

const videoStream = computed(() => {
	if (!props.videoAvailable) return null;
	return room.getVideoMediaStream();
});
const screenShareStream = computed(() => {
	if (!props.screenShareAvailable) return null;
	return room.getScreenShareMediaStream();
});

const toggleMute = async () => {
	disableControls.value = true;
	try {
		room.toggleMute();
	} catch { /* ignore */ }
	disableControls.value = false;
}

const toggleScreenShare = async () => {
	disableControls.value = true;
	try {
		if (props.screenShareAvailable) {
			await room.stopScreenShare();
		} else {
			await room.startScreenShare(toValue(useVideoForScreenShare));
		}
	} catch { /* ignore */ }
	disableControls.value = false;
}

const toggleVideo = async () => {
	disableControls.value = true;
	try {
		if (props.videoAvailable) {
			await room.stopVideo();
		} else {
			await room.startVideo();
		}
	} catch { /* ignore */ }
	disableControls.value = false;
}

const audioInputDeviceClicked = async device => {
	await room.setAudioInputDevice(device);
}

const sendStartScreenShare = () => room.sendStartScreenShare(toValue(useVideoForScreenShare));
</script>

<style lang="scss" scoped>

</style>