<template>
  <div class="flex flex-col m-4 space-y-4">
    <div class="flex items-center space-x-2">
      <div>Username:</div>
      <input v-model="username"
             type="text"
             class="border border-1 rounded-lg p-2 text-sm">
      <div>Name:</div>
      <input v-model="name"
             type="text"
             class="border border-1 rounded-lg p-2 text-sm">
      <div :class="updateButtonClass"
           class="flex items-center clickable cursor-pointer px-2 py-0.5 border border-black rounded-sm shadow-md select-none text-xs"
                    @click="updateUsernameClicked">update</div>
      <div class="flex-1" />
      <div class="flex items-center space-x-4">
        <label for="log-level">Log Level</label>
        <select id="log-level"
                class="border border-1"
                v-model="logLevel">
                <!-- @change="updateLogLevel"> -->
          <option value="error">Error</option>
          <option value="verbose">Verbose</option>
          <option value="info">Info</option>
          <option value="warning">Warning</option>
        </select>
      </div>
    </div>

    <div v-if="usernameSet"
         class="flex flex-col space-y-4">
      <div class="flex flex-col">
        <div>Meeting URL:</div>
        <input v-model="meetingUrl"
               type="text"
               class="border border-1 rounded-lg p-2 text-sm">
      </div>
      <div>Conference State: <span>{{ state }}</span></div>
      <div class="flex items-center space-x-2">
        <input v-model="startMuted"
               type="checkbox" />
        <span>Start Muted</span>
      </div>
      <div class="flex space-x-4 text-xs">
        <div :class="authenticateClasses"
             class="flex items-center cursor-pointer px-2 py-0.5 border border-black rounded-sm shadow-md select-none"
             @click="authenticateClicked">authenticate</div>
        <div :class="guestTokenClasses"
             class="flex items-center cursor-pointer px-2 py-0.5 border border-black rounded-sm shadow-md select-none"
             @click="guestTokenClicked">guest token</div>
        <div :class="joinButtonClass"
             class="flex items-center cursor-pointer px-2 py-0.5 border border-black rounded-sm shadow-md select-none"
             @click="joinClicked">join</div>
        <div v-if="joined"
             class="flex items-center cursor-pointer px-2 py-0.5 border border-black rounded-sm shadow-md select-none"
             @click="leaveClicked">leave</div>
      </div>
      <div>
        <Participants />
      </div>
    </div>

  </div>
</template>

<script setup>
import { computed, provide, ref, toValue, watch } from "vue";
import axios from 'axios';
const COOKIE_NAME = import.meta.env.VITE_COOKIE_NAME;

import Participants from './Participants.vue';

import { DeviceController } from '../conference-api/device-controller.js';
import { MSTeamsController } from '../core-logic/ms-teams-controller.js';
import { MSTeamsRoom, ROOM } from '../conference-api/ms-teams-room.js';

const communicationToken = ref();
const meetingUrl = ref();
const usernameSet = ref(false);
const username = ref();
const name = ref();
const joined = ref(false);
const authenticated = ref(false);
const guest = ref(false);
const startMuted = ref(false);
const logLevel = ref('error');

const cookie = (document.cookie ?? '').split(';').find(cookie => cookie.trim().startsWith(`${COOKIE_NAME}=`));

if (cookie) {
  const data = cookie.split('=').at(1);
  if (data) {
    try {
      const value = JSON.parse(decodeURIComponent(data));
      console.log(`cookie value.username-[${value?.username}] value.name-[${value?.name}]`);
      username.value = value.username;
      name.value = value.name;
    } catch (error) { /*  */ }
  }
}
usernameSet.value = !!cookie;

const msTeamsController = new MSTeamsController(toValue(logLevel));
const deviceController = new DeviceController();
const room = new MSTeamsRoom();
window.dc = deviceController;
window.room = room;

const state = computed(() => room.data.state);

watch(
  logLevel,
  logLevel => msTeamsController.setLogLevel(logLevel)
);

// pointer-events-auto opacity-100
const joinButtonClass = computed(() => {
  const classes = Object.freeze([
    { classes: 'pointer-events-none opacity-25', condition: !toValue(username) || !toValue(name) || !toValue(meetingUrl) },
    { classes: 'pointer-events-none opacity-25', condition: joined.value },
    { classes: 'clickable', condition: !joined.value && !guest.value && authenticated.value },
    { classes: 'clickable', condition: !joined.value && guest.value && communicationToken.value },
    { classes: 'pointer-events-none opacity-25', condition: true }
  ]);
  return classes.find(classes => classes.condition)?.classes;
});

const authenticateClasses = computed(() => {
  return {
    ...((joined.value || authenticated.value || guest.value) && { 'pointer-events-none': true, 'opacity-25': true }),
    ...(authenticated.value && { 'border-green-500 bg-green-500 text-white': true})
  };
});

const guestTokenClasses = computed(() => {
  return {
    ...((joined.value || authenticated.value || guest.value) && { 'pointer-events-none': true, 'opacity-25': true }),
    ...(guest.value && { 'border-green-500 bg-green-500 text-white': true})
  };
});
const updateButtonClass = computed(() => ({
  ...((!toValue(username) || !toValue(name)) && { 'pointer-events-none': true, 'opacity-25': true })
}));

const teamsControllerInitialised = ref(false);

provide(ROOM, room);

const updateUsernameClicked = async () => {
  console.log(`updateUsernameClicked()`);

  const data = await axios.post('/set-username', { username: toValue(username), name: toValue(name) }).then(({ data }) => data);
  console.log(`updateUsernameClicked() data`, data);

  usernameSet.value = true;
  username.value = data.username;

  await checkAuth();
};

const checkAuth = async () => {
  try {
    await axios.get('/api/auth/check');
    authenticated.value = true;
  } catch (error) {
    const { status, data: { error: message } = {} } = error?.response;
    console.debug(`ERROR: Unauthorized - status-[${status}] message-[${message}]`);
    authenticated.value = false;
  }
};

const checkClicked = async () => {
  await checkAuth();
};

if (usernameSet) checkAuth();

const authenticateClicked = async () => {
  const { authUrl } = await axios.get('/api/auth').then(({ data }) => data);
  console.log(`authUrl-[${authUrl}]`);

  window.location.href = authUrl;
};

const guestTokenClicked = async () => {
  const { token } = await axios.get('/api/auth/test').then(({ data }) => data);
  console.log(`testClicked() token-[${token}]`);
  communicationToken.value = token;
  guest.value = true;
};

const joinClicked = async () => {
  // If this is not a guest Get the token
  if (!guest.value) {
    const { accessToken } = await axios.get('/api/auth/token').then(({ data }) => data);
    console.log(`accessToken.token-[${accessToken.token}]`);
    communicationToken.value = accessToken.token;
  }

  // Initialise the teams controller with the token
  await msTeamsController.init(toValue(communicationToken), toValue(guest), toValue(username), toValue(name));
  teamsControllerInitialised.value = true;

  // Initialise the room
  room.init({
    deviceController: deviceController,
    msTeamsController: msTeamsController
  });
  
  // Join
  await room.join(toValue(meetingUrl), toValue(startMuted));
  joined.value = true;
};

const leaveClicked = async () => {
  await room.leave();
  joined.value = false;
};

const updateLogLevel = async event => {
  const level = event?.target?.value;
  console.log(`updateLogLevel() - level-[${level}]`, level);

  msTeamsController.setLogLevel(level);
};
</script>

<style scoped>
</style>
