<template>
	<div class="flex flex-col space-y-2">
		
		<div v-for="participant in participants"
				 :key="participant.id">

			<!-- Show the local participant -->
			<LocalParticipant v-if="participant.localParticipant"
												v-bind="participant" />

			<!-- Show a remote participant -->
			<RemoteParticipant v-else
												 v-bind="participant" />
			
		</div>

	</div>
</template>

<script setup>
import { computed, inject, watch } from 'vue';
import { ROOM } from '../conference-api/ms-teams-room.js';
import LocalParticipant from './LocalParticipant.vue';
import RemoteParticipant from './RemoteParticipant.vue';

const room = inject(ROOM);
/** @property {Array<Participant>} participants an array of participants with the local participant sorted to the top */
const participants = computed(() => room.data.participants.toSorted((a, b) => {
	return a.localParticipant && !b.localParticipant
		? -1
		: !a.localParticipant && b.localParticipant
			? 1
			:0;
}));

</script>

<style lang="scss" scoped>

</style>