<template>
	<div class="flex space-x-4 items-center">
		<div class="w-[160px] h-[90px] relative border border-1">
			<div class="absolute inset-0 flex items-center justify-center overflow-hidden">
				<!-- Video -->
				<video autoplay
							 playsinline
							 :srcObject.prop="videoStream" />
			</div>
		</div>
		<div class="w-[160px] h-[90px] relative border border-1">
			<div class="absolute inset-0 flex items-center justify-center overflow-hidden">
				<!-- Screen share -->
				<video autoplay
							 playsinline
							 :srcObject.prop="screenShareStream" />
			</div>
		</div>
		<div class="flex flex-col space-y-1 text-xs">
			<div class="flex items-center space-x-1">
				<div class="font-bold">{{ displayName || 'Unknown' }}</div>
				<div class="text-gray-300">({{ id }})</div>
			</div>
			<div v-if="isInLobby"
					 class="flex items-center space-x-1">
				<span>In Lobby: </span>
				<div class="flex items-center cursor-pointer px-2 py-0.5 border border-black rounded-sm shadow-md select-none text-xs"
             @click="admitClicked">admit</div>
			</div>
		</div>
	</div>
</template>

<script setup>
import { computed, inject, ref, watch } from 'vue';
import { ROOM } from '../conference-api/ms-teams-room.js';

const room = inject(ROOM);

const props = defineProps({
	id: String,
	displayName: String,
	state: String,
	videoAvailable: Boolean,
	screenShareAvailable: Boolean,
	participant: Object
});

const videoStream = computed(() => {
	if (!props.videoAvailable) return null;
	return props.participant?.getVideoMediaStream?.();
});
const screenShareStream = computed(() => {
	if (!props.screenShareAvailable) return null;
	return props.participant?.getScreenShareMediaStream?.();
});

const isInLobby = computed(() => props.state === 'InLobby');

const admitClicked = () => {
	room.admit(props.id);
};

const testWatcher = watch(
	() => props.videoAvailable,
	videoAvailable => {
		console.debug(`testWatcher videoAvailable-[${videoAvailable}]`);
	}
);

</script>

<style lang="scss" scoped>

</style>